.text {
  &-xl {
    font-size: 3rem;

    @media (max-width: 1400px) {
      font-size: 2.4rem;
    }

    @media (max-width: 575px) {
      font-size: 2rem;
    }
  }

  &-lg {
    font-size: 2.4rem;

    @media (max-width: 1400px) {
      font-size: 2rem;
    }

    @media (max-width: 575px) {
      font-size: 1.8rem;
    }
  }

  &-md {
    font-size: 2rem;

    @media (max-width: 1400px) {
      font-size: 1.8rem;
    }

    @media (max-width: 575px) {
      font-size: 1.6rem;
    }
  }

  &-sm {
    font-size: 1.4rem;
  }

  &-xs {
    font-size: .825rem;
  }

  &-center {
    text-align: center;
  }

  &-red {
    color: var(--red-lighter);
  }

  &-normal {
    font-weight: 400;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }
}
